<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Names</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="league-nav">
    <h1>Football Competitions</h1>


    <h2>Leagues</h2>
    <ul class="league-list">
        {% for league in leagues %}
            <button>{{ league["name"] }}</button>
        {% endfor %}
    </ul>

    <h2>Cups and Other Competitions</h2>
    <ul class="league-list">
        {% for cup in cups %}
            <button>{{ cup["name"] }} </button>
        {% endfor %}
    </ul>
    </div>
</body>
</html>