.league-list {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.league-list li {
    width: 100%;
}

.league-list button {
    width: fit-content;
    text-align: left;
    padding: 10px 14px;
}