<!DOCTYPE html>
<html>
<head>
  <title>FootyG</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">FootyG</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/leagues">LEAGUES</a></li>
                    <li><a href="#">TEAMS</a></li>
                    <li><a href="#">PLAYERS</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
                <div class="search">
                    <input class="srch" type="search" name="" placeholder="Search">
                    <a href="#"><button class="btn"> Search</button> </a>
                </div>
            </div>

            <div class="content">
                <h1>The Major Leagues.<br><span> All in One Place.</span></h1>
                <p class="par">From Premier League to La Liga - Explore all on FootyG</p>
                <button class="cn"> <a href="/leagues"> Explore Leagues</a></button>
                <button class="cn"> <a href="#"> View Teams</a></button>
            </div>
        </div>
    </div>


    <footer></footer>
</body>
</html>